---
layout: page
title: Books
icon: 📚
sort_title: D
custom_css:
- books
---
<p class="description">
	I love to be creative, which is why in my spare time I sometimes write fiction.
	Unfortunately it is a very slow process, so there is not a lot to show off yet—especially since I mostly publish in German.
	Here’s a selection of books and stuff I have (self-)published so far.
</p>

<ul class="items-list">
	{% assign books = site.books | sort: "publish_year" %}
	{% for book in books %}
		<li class="item">
			<div class="title">
				<h4>{{ book.title }} <span>{{ book.publish_year }}</span></h4>
				{% if book.subtitle %}<p>{{ book.subtitle }}</p>{% endif %}
			</div>
			<div class="content">{{ book.content | markdownify }}</div>
			<img src="{{ book.cover_image }}" alt="Cover image for {{ book.title }}"/>
		</li>
	{% endfor %}
</ul>
