<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>{{ site.title }}{% if page.title %} | {{ page.title }}{% endif %}</title>

<link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}" />
<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}" />
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/fontawesome.min.css" />
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/brands.min.css" />
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/solid.min.css" />
{% if layout.custom_css %} {% for stylesheet in layout.custom_css %} {% capture url %}/assets/css/{{ stylesheet }}.css{%
endcapture %}
<link rel="stylesheet" href="{{ url | relative_url }}" />
{% endfor %} {% endif %} {% if page.custom_css %} {% for stylesheet in page.custom_css %} {% capture url
%}/assets/css/{{ stylesheet }}.css{% endcapture %}
<link rel="stylesheet" href="{{ url | relative_url }}" />
{% endfor %} {% endif %} {% if site.icon != empty %}
<link
	rel="icon"
	href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>{{ site.icon }}</text></svg>"
/>
{% endif %}
