@import 'mixins';

:root {
	--background-color: #efefef;
	--foreground-color: #333333;
	--light-accent-color: #66b2b2;
	--dark-accent-color: #004c4c;
	--light-accent-background-color: rgb(202, 240, 240);
	--dark-accent-background-color: #b2d8d8;
}

@include dark {
	:root {
		--background-color: #333333;
		--foreground-color: #efefef;
		--light-accent-color: #b2d8d8;
		--dark-accent-color: rgb(202, 240, 240);
		--light-accent-background-color: #66b2b2;
		--dark-accent-background-color: #004c4c;
	}
}
