---
---
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,800;1,300&display=swap');

:root {
	--background-color: #efefef;
	--foreground-color: #333333;
	--light-accent-color: #66b2b2;
	--dark-accent-color: #004c4c;
	--light-accent-background-color: rgb(202, 240, 240);
	--dark-accent-background-color: #b2d8d8;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background-color: #333333;
		--foreground-color: #efefef;
		--light-accent-color: #b2d8d8;
		--dark-accent-color: rgb(202, 240, 240);
		--light-accent-background-color: #66b2b2;
		--dark-accent-background-color: #004c4c;
	}
}

* {
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
	font-size: 16px;
	min-height: 100vh;
	display: grid;
	grid-template-rows: auto 1fr auto;
	background-color: var(--background-color);
	color: var(--foreground-color);
}

a {
	color: var(--dark-accent-color);

	&:hover {
		color: var(--light-accent-color);
	}
}

header {
	padding: 48px 40px;
	position: sticky;
	display: grid;
	grid-template-columns: auto auto;
	justify-content: space-between;
	align-items: center;

	.title {
		a {
			color: var(--foreground-color);
			text-decoration: none;
		}

		h1 {
			font-size: 1.8em;
			font-weight: bold;
			display: inline-block;

			i {
				margin-right: 0.25em;
			}
		}
		
		h2 {
			font-size: 1.1em;
			font-weight: lighter;
			display: inline-block;
			text-transform: uppercase;

			&::before {
				content: '/';
				margin: 0 0.5em;
			}
		}
	}

	nav {
		text-transform: uppercase;

		ul {
			display: flex;
			list-style: none;

			li {
				margin-left: 1.25em;

				&.active a {
					color: var(--light-accent-background-color);
				}

				a:hover {
					color: var(--light-accent-background-color);
				}
			}
		}
	}
}

main {
	background-color: var(--dark-accent-background-color);
	
	.home {
		position: relative;
		height: 100%;

		&::before {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			background-color: var(--background-color);
			width: 60%;
		}

		.wrapper {
			width: 50%;
			margin: 0 auto;
			padding: 4em 0;
			display: grid;
			grid-template-columns: 1fr 1fr;
			position: relative;
		}

		.card {
			box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.25);
			background-color: var(--light-accent-background-color);
			margin: 32px;
			display: flex;
			flex-direction: column;
			align-items: center;
			padding-top: 2.5em;
			padding-bottom: 5em;
			position: relative;

			.avatar {
				margin: 0 auto;
				width: 175px;
				height: 175px;
				margin-bottom: 2em;
				border-radius: 50%;
			}

			.name {
				font-weight: bold;
				font-size: 1.5em;
				text-align: center;
			}

			.job {
				text-transform: uppercase;
				letter-spacing: 0.15em;

				&::before {
					display: block;
					content: '';
					height: 2px;
					width: 50px;
					transform: rotateZ(165deg);
					background-color: var(--dark-accent-color);
					margin: 0 auto;
					margin-top: 0.25em;
					margin-bottom: 1em;
				}
			}

			.contact {
				list-style: none;
				display: flex;
				font-size: 1.4em;
				position: absolute;
				bottom: 0;
				background-color: var(--background-color);
				width: 100%;
				padding: 0.25em 0;
				justify-content: center;

				li:not(:last-child) {
					margin-right: 1em;
				}
			}
		}

		.content {
			height: 100%;
			margin: 32px 0;
			padding: 0.25em 0;
			color: var(--foreground-color);

			h1 {
				font-size: 6em;
				font-weight: 600;
			}

			h2 {
				font-size: 1.75em;
				font-weight: normal;
				margin-bottom: 1em;
			}

			p:not(:last-child) {
				margin-bottom: 1em;
			}
		}
	}

	.page {
		width: 50%;
		margin: 0 auto;
		padding: 2em 0;

		h3 {
			font-size: 2em;
			font-weight: bold;
			text-align: center;
			margin-bottom: 1em;
		}
	}
}

footer {
	font-size: 0.9em;
	padding: 24px 32px;
	display: grid;
	grid-template-columns: auto auto;
	justify-content: space-between;
	align-items: center;

	a {
		color: var(--dark-accent-color);
	}

	.links {
		margin-right: 4em;

		p {
			font-weight: 600;
			text-align: center;
		}

		ul {
			list-style: none;
			display: flex;
			font-size: 1.1em;

			li:not(:last-child) {
				margin-right: 1em;
			}
		}
	}
}
