---
layout: default
custom_css:
  - home
---

<div class="background"></div>

<main class="content">
	<h1 class="title">{{ site.first_name }} {{ site.last_name }}</h1>
	<h2 class="subtitle">{{ site.job_title }}</h2>
	<p class="tagline">📱 Mobile. 🌍 Web. 📢 Voice.</p>
	<ul class="description">
		<li>🇦🇹 Born in Austria.</li>
		<li>🏴󠁧󠁢󠁳󠁣󠁴󠁿 Living in Scotland.</li>
		<li>🥾 Hiking on my days off.</li>
		<li>📚 Book lover &amp; fiction writer.</li>
		<li>🎶 Classical music lover and singer.</li>
	</ul>
	<ul class="links">
		{% for s in site.social %}
		<li>
			<a href="{{ s.url }}" title="{{ s.name }}"><i class="{{ s.icon }}"></i></a>
		</li>
		{% endfor %}
	</ul>
</main>
